#eg1{
	height:200px;
	width:200px;
	border:black thick:2px;
	background-color:lightblue;
	margin:auto;
	margin-top:vh centre;
	text-align:centre;
	vertical-margin:auto;
	color:purple;
	position:absolute;
	top:50%;
	right:50%;
}
p{
	position:absolute;
	top:50%;
	right:50%;
}

